<div style="border-style: groove; border-color: black; border-width: 3px; background-color:lightskyblue; padding-top: 1px; padding-bottom: 1px; padding-left: 1px;">
<a href="/">Home</a> |
<a href="/boasts/">Boasts</a> |
<a href="/roasts/">Roasts</a> |
<a href="/createpost/">Create Posts</a>
</div>
<br>
<div style="background-color: lightskyblue; border-width: 3px; border-color: black; border-style: groove; padding-left: 5px;">
{% for posts in sorted_votes %}
    <!-- <ul> -->
        {% if posts.choices %}
        <h2 style="color:darkblue; font-style: oblique;">Boast</h2>
        {% else %}
        <h2 style="color:darkblue; font-style: oblique;">Roast</h2>
        {% endif %}
        <p style="font-size: larger; color:darkgreen; font-style: oblique;">{{ posts.user_input }}</p>
        <p style="color:darkgreen; font-style: oblique;">{{ posts.votes }}</p>

        <a href="/upvote/{{posts.id}}/">&#9650</a>
        <br>
        <a href="/downvote/{{posts.id}}/">&#9660</a>

        <p style="color:darkgreen; font-style: oblique;">{{ posts.time_posted }}</p>
        <hr style="height: 3px; background-color: black; width: auto;">
    <!-- </ul> -->
{% endfor %}
</div>